
__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/
*/.ipynb_checkpoints/*

venv/
myvenv/
env/
.env

*.parquet
dataset_processed/
**/dataset_processed/*

*engagement*
*letter*
*.pdf

.DS_Store
Thumbs.db
